.quiz-completed {
  height: 100svh;
  text-align: center;
  font-size: 2rem;
  color: #ffcc00;
  -webkit-text-stroke: 0.1px var(--p11-gryffindor-red);
  animation: fade-in 1s ease-in-out;
  flex-direction: column;
  gap: var(--p11-gap-xl);
  border: 1px solid #000;
}

.final-score {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff5733;
  border: 1px solid #000;
}

.congrats-message {
  font-size: 1.8rem;
  font-weight: bold;
  color: #28a745;
  margin-top: 20px;
  border: 1px solid #000;
}

.restart-button {
  background-color: var(--p11-gryffindor-gold);
  color: var(--p11-gryffindor-red);
  font-size: var(--p11-font-size-m);
  padding: var(--p11-padding-s) var(--p11-padding-m);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.restart-button:hover {
  background-color: var(--p11-ravenclaw-bronze);
  transform: scale(1.05);
}
