.gryffindor {
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--p11-gap-xl);
  overflow: hidden;
  border: 4px solid var(--p11-gryffindor-gold);
}

.gryffindor_container {
  padding: var(--p11-padding-s);
}

.gryffindor::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    var(--p11-gryffindor-gold),
    var(--p11-gryffindor-gold) 3px,
    var(--p11-gryffindor-red) 3px,
    var(--p11-gryffindor-red) 90px,
    var(--p11-gryffindor-gold) 9px,
    var(--p11-gryffindor-gold) 10px,
    var(--p11-gryffindor-red) 10px,
    var(--p11-gryffindor-red) 30px
  );
  opacity: 0.9;
  z-index: -2;
}

.gryffindor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.353);
  z-index: -1;
}

.gryffindor_card h1 {
  color: var(--p11-gryffindor-gold);
  text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.55);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}

.gryffindor .card_front {
  color: var(--p11-gryffindor-gold);
  -webkit-text-stroke: 0.1px var(--p11-gryffindor-red);
  background-color: var(--p11-gryffindor-gold);
  overflow: hidden;
}

.card_back {
  background: linear-gradient(135deg, #1a1a1a, #444);
  color: var(--p11-gryffindor-gold);
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  opacity: 0.9;
  font-size: var(--p11-font-size-m);
}

.gryffindor ::-webkit-scrollbar-track {
  border: 5px solid white;
  border-color: transparent;
  background-color: var(--p11-gryffindor-gold);
}

.gryffindor :-webkit-scrollbar {
  width: 8px;
  background-color: #dfe6e9;
}

.gryffindor ::-webkit-scrollbar-thumb {
  background-color: var(--p11-gryffindor-red);
  border-radius: 10px;
}
