.back-button {
  position: absolute;
  top: 0;
  left: 0px;
  color: var(--p11-gryffindor-red);
  background-color: var(--p11-gryffindor-gold);
  border-radius: 0px 0 10px 0;
  display: flex;
  align-items: center;
  gap: var(--p11-gap-s);
  border: none;
  padding: var(--p11-padding-xs) var(--p11-padding-s);
  cursor: pointer;
  font-size: var(--p11-font-size-m);
  letter-spacing: 1px;
}

.back-button:hover {
  background-color: var(--p11-gryffindor-red);
  color: var(--p11-gryffindor-gold);
  transition: all 0.3s;
}

@media (max-width: 500px) {
  .back-button {
    width: 100%;
    top: auto;
    bottom: 0;
    z-index: 10;
    font-size: var(--p11-font-size-l);
    padding: var(--p11-margin-s);
    justify-content: center;
  }
}
