.welcome-screen {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.welcome-half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--p11-padding-l);
  font-family: 'Magic School', cursive;
  transition: transform 1.8s ease-in-out;
}

.left {
  background: var(--p11-gryffindor-red);
  color: var(--p11-gryffindor-gold);
  -webkit-text-stroke: 0.001px var(--p11-gryffindor-red);
  border-right: 2px solid var(--p11-gryffindor-gold);
}

.right {
  background: var(--p11-gryffindor-gold);
  color: var(--p11-gryffindor-gold);
  -webkit-text-stroke: 0.1px var(--p11-gryffindor-red);
}

.welcome-half h1 {
  font-size: var(--p11-font-size-xl);
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.4;
}

.welcome-text {
  font-size: var(--p11-font-size-xl);
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: var(--p11-padding-s);
}

.start-button {
  margin-top: var(--p11-margin-m);
  padding: var(--p11-padding-m);
  font-size: var(--p11-font-size-xl);
  background-color: var(--p11-gryffindor-red);
  color: var(--p11-gryffindor-gold);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.start-button:hover {
  background-color: var(--p11-gryffindor-gold);
  color: var(--p11-gryffindor-red);
  border: 2px solid var(--p11-gryffindor-red);
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .welcome-screen {
    flex-direction: column;
  }

  .welcome-half {
    width: 100%;
    height: 50%;
  }

  .left {
    border-right: none;
    border-bottom: 2px solid var(--p11-gryffindor-gold);
  }
}
