.ravenclaw {
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--p11-gap-xl);
  overflow: hidden;
}

.ravenclaw_container {
  padding: var(--p11-padding-s);
}

.ravenclaw::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    var(--p11-ravenclaw-bronze),
    var(--p11-ravenclaw-bronze) 3px,
    var(--p11-ravenclaw-blue) 3px,
    var(--p11-ravenclaw-blue) 90px,
    var(--p11-ravenclaw-bronze) 9px,
    var(--p11-ravenclaw-bronze) 10px,
    var(--p11-ravenclaw-blue) 10px,
    var(--p11-ravenclaw-blue) 30px
  );
  opacity: 0.9;
  z-index: -2;
}

.ravenclaw::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.353);
  z-index: -1;
}

.ravenclaw .card_front {
  color: var(--p11-ravenclaw-bronze);
  -webkit-text-stroke: 0.1px var(--p11-ravenclaw-blue);
  background-color: var(--p11-ravenclaw-bronze);
  overflow: hidden;
  letter-spacing: 1px;
}

.ravenclaw ::-webkit-scrollbar-track {
  border: 5px solid white;
  border-color: transparent;
  background-color: var(--p11-ravenclaw-blue);
}

.ravenclaw ::-webkit-scrollbar {
  width: 8px;
  background-color: #dfe6e9;
}

.ravenclaw ::-webkit-scrollbar-thumb {
  background-color: var(--p11-ravenclaw-bronze);
  border-radius: 10px;
}
