.hufflepuff {
  position: relative;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--p11-gap-xl);
  overflow: hidden;
  border: 4px solid var(--p11-hufflepuff-yellow);
}

.hufflepuff_container {
  padding: var(--p11-padding-s);
}

.hufflepuff::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    var(--p11-hufflepuff-black),
    var(--p11-hufflepuff-black) 3px,
    var(--p11-hufflepuff-yellow) 3px,
    var(--p11-hufflepuff-yellow) 90px,
    var(--p11-hufflepuff-black) 9px,
    var(--p11-hufflepuff-black) 10px,
    var(--p11-hufflepuff-yellow) 20px
  );
  opacity: 0.9;
  z-index: -2;
}

.hufflepuff::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.353);
  z-index: -1;
}

.hufflepuff .card_front {
  color: var(--p11-hufflepuff-yellow);
  -webkit-text-stroke: 0.1px var(--p11-hufflepuff-black);
  background-color: var(--p11-hufflepuff-yellow);
  overflow: hidden;
  letter-spacing: 1px;
}

::-webkit-scrollbar-track {
  border: 5px solid white;
  border-color: transparent;
  background-color: var(--p11-hufflepuff-yellow);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
  background-color: var(--p11-hufflepuff-yellow);
  border-radius: 10px;
}
