.main_page {
  width: 100%;
  height: 100svh;
  gap: var(--p11-gap-xl);
  flex-direction: column;
}

.main_page h1 {
  color: var(--p11-gryffindor-gold);
  text-shadow: 6px 10px 0px rgba(0, 0, 0, 0.55);
  -webkit-text-stroke: 0.1px black;
  font-size: 100px;
  width: 80%;
  height: 8svh;
  text-align: center;
  letter-spacing: 7px;
}

.container {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: var(--p11-gap-m);
  flex-wrap: wrap;
}

.house_Link {
  width: 20%;
}

.houseFlag {
  width: 100%;
  height: 80%;
  flex-grow: 1;
  text-align: center;
  font-size: var(--p11-font-size-xl);
  padding-top: var(--p11-padding-m);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 25px solid transparent;
  border-image: url(https://raw.githubusercontent.com/NestorPlasencia/img/master/border-triangle.png)
    0% 20% 100% 20% stretch;
  transition: 0.75s;
  cursor: pointer;
}

.houseFlag:hover {
  height: 100%;
}

.houseFlag > h2 {
  width: 100%;
  font-size: var(--p11-font-size-xl);
}

#Gryffindor {
  background-color: var(--p11-gryffindor-red);
  background-image: url('https://raw.githubusercontent.com/NestorPlasencia/img/master/Gryffindor.png');
  color: var(--p11-gryffindor-gold);
}

#Hufflepuff {
  background-color: var(--p11-hufflepuff-yellow);
  background-image: url('https://raw.githubusercontent.com/NestorPlasencia/img/master/Hufflepuff.png');
  color: var(--p11-hufflepuff-black);
}

#Ravenclaw {
  background-color: var(--p11-ravenclaw-blue);
  background-image: url('https://raw.githubusercontent.com/NestorPlasencia/img/master/Ravenclaw.png');
  color: var(--p11-ravenclaw-bronze);
}

#Slytherin {
  background-color: var(--p11-slytherin-green);
  background-image: url('https://raw.githubusercontent.com/NestorPlasencia/img/master/Slytherin.png');
  color: var(--p11-slytherin-silver);
}

@media (min-width: 1200px) {
  .house_Link {
    max-width: 170px;
    min-height: 384px;
  }
}

@media (max-width: 850px) {
  .main_page h1 {
    font-size: 70px;
    width: 95%;
  }

  .house_Link {
    width: 45%;
    margin-bottom: var(--p11-gap-m);
  }

  .houseFlag > h2 {
    height: 90%;
    font-size: var(--p11-font-size-xxl);
    display: grid;
    place-content: center;
    -webkit-text-stroke: 0.4px var(--p11-dark-forest);
  }

  .houseFlag {
    border: none;
    height: 150px;
  }

  #Hufflepuff {
    color: var(--p11-hufflepuff-yellow);
  }
}

@media (max-width: 500px) {
  .main_page h1 {
    font-size: var(--p11-font-size-xxl);
    width: 95%;
    height: 12svh;
  }

  .house_Link {
    width: 100%;
  }

  .houseFlag {
    height: 100px;
  }
}
