@import url('https://fonts.cdnfonts.com/css/harry-p');

:root {
  --p11-gryffindor-red: #740001;
  --p11-gryffindor-gold: #d3a625;
  --p11-hufflepuff-yellow: #c6a513;
  --p11-hufflepuff-black: #000000;
  --p11-ravenclaw-blue: #0e1a40;
  --p11-ravenclaw-bronze: #ddaf78;
  --p11-slytherin-green: #1a472a;
  --p11-slytherin-silver: #acacac;

  --p11-dark-forest: #0d1b2a;

  --p11-font-size-xs: 10px;
  --p11-font-size-s: 15px;
  --p11-font-size-m: 20px;
  --p11-font-size-l: 25px;
  --p11-font-size-xl: 35px;
  --p11-font-size-xxl: 50px;

  --p11-margin-xs: 5px;
  --p11-margin-s: 10px;
  --p11-margin-m: 20px;
  --p11-margin-l: 30px;
  --p11-margin-xl: 50px;

  --p11-padding-xs: 5px;
  --p11-padding-s: 10px;
  --p11-padding-m: 20px;
  --p11-padding-l: 30px;
  --p11-padding-xl: 50px;

  --p11-gap-xs: 5px;
  --p11-gap-s: 10px;
  --p11-gap-m: 20px;
  --p11-gap-l: 30px;
  --p11-gap-xl: 50px;
}

.flex_className {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--p11-gap-s);
}
